
@font-face {
    font-family: 'Inter';
    src: url('font/Inter/Inter.ttf') format('woff2');
}

@font-face {
    font-family: 'Jersey10';
    src: url('font/Jersey10/Jersey10.ttf') format('woff2');
}

@font-face {
    font-family: 'JockeyOne';
    src: url('font/JockeyOne/JockeyOne.ttf') format('woff2');
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: 'Inter';
    color: white;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
}

button {
    font-family: 'Jersey10';
    background: linear-gradient(to top, #9B2700, #922211, #D22600);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

h1 {
    font-family: 'Jersey10';
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px
}

a {
    text-decoration: none;
    font-family: 'JockeyOne';
    color: white;
}

img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}