@font-face {
    font-family: 'KleeOne';
    src: url('font/KleeOne/KleeOne.ttf') format('truetype');
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('font/GloriaHallelujah/GloriaHallelujah.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('font/Inter/Inter.ttf');
}

body {
    margin: 0;
    font-family: 'Inter';
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    gap: 4rem;
}

button {
    font-family: 'KleeOne';
    background-color: #853939;
    color: white;
    padding: 1rem 0.5rem;
    border: none;
    border-radius: 10px;
}

h2, h3 {
    font-family: 'KleeOne';
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}


img {
    width: 100%;
    height: 100%;
}
