body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    width: 100vw;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
    font-weight: lighter;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: monospace;
    color: white;
}


a:hover {
    text-decoration: underline;
    background-color: #D927E1 4px 4px 10px;
}

button {
    background-color: #A824C4;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 1rem;

}

button:hover {
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}